.background {
    background-image: linear-gradient(270deg,orange,grey,black,orange);
    font: size 24px;
    color: whitesmoke;    
}


.hero{
    background-image: url("./assets/images/img_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:black;
    /* opacity: .5; */
}

.navbar{
    font-size: 2rem;
    background-image: linear-gradient(150deg,rgb(214, 148, 26),rgb(187, 145, 68),white);
}
#sports{
    margin: 1%;
    padding:1%;
    width:100%;
    font-size: 3rem;
    font-style: italic;
    letter-spacing: 1.5;
   
}
.title, .subtitle{
    color:black;
}
.navbar-brand{
    width: 70%;
}

.title{
    color:rgb(194, 75, 20);
    font-size: 2.5rem;
}

.subtitle{
    color:rgb(216, 17, 27);
    font-size: 1.5rem;
}

.columns{
    margin: 2%;
    padding: 2%;
    /* flex-wrap: wrap;
    justify-content: space-evenly; */
}

/* .column{
    margin: 1%;
    padding: 1%;
} */

.sport-news{
    letter-spacing: 2px;
    line-height: 2;
    font-size: 1.5rem;
}
.section-title{
    letter-spacing: 3px;
    font-size: 2rem;
    font-style: italic;
}